<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
        <button type="button" id="back-to-top" class="btn btn-dark float-end">
            <i class="bi bi-caret-up-fill"></i>
        </button>
    </body>
    <footer>
        <div class="text-center bg-light p-4">
            © 2021 Copyright: <b>SnowTricks</b>
        </div>
    </footer>
</html>
