{% extends 'base.html.twig' %}

{% block title %}Créer un trick{% endblock %}

{% block body %}
    <main class="container p-5">
        <div class="col-lg-7 col-md-10 mx-auto">
            <h1>Créer un nouveau trick</h1>
            {% include 'trick/_form.html.twig' with {'submit': 'Créer'} %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form-collection') }}
{% endblock %}