{% extends 'base.html.twig' %}

{% block title %}Editer un trick{% endblock %}

{% block body %}
    <main class="container p-5">
        <div class="col-lg-7 col-md-10 mx-auto">
            <h1>Editer le trick</h1>
            {% include 'trick/_form.html.twig' with {'submit': 'Editer'} %}
            <a
                href="{{ path('trick_delete', {'slug': trick.slug}) }}"
                class="btn btn-danger"
                role="button">
                Supprimer le trick
            </a>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form-collection') }}
{% endblock %}